#login 
{
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	height: 105%;
}

/*#loginform
{
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}*/

#loginform ul
{
	display: inline-block;
	border: 3px solid #d9d9d9;
	list-style: none;
	/*padding: 8px;*/
	padding: 0;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10%;
	overflow: hidden;
	
	box-sizing: border-box;
}

#loginform li
{
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

/*#login p
{
	margin-left: 10px;
}*/

#header 
{
	text-align: center;
}
	
#slider 
{
	border: 2px solid black;
	position: relative;
	left: 20%;
	width: 60%;
	height: 400px;
	overflow: hidden;
}

#slider img 
{
	position: absolute;
	width: 100%;
	height: 100%;
	right: -100%;
	display: inline;
}
	
.sliderbtns
{
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background: #ffccff;
	display: inline-block;
	
	position: absolute;
}	

.sliderbtns:hover
{
	cursor: pointer;
}

.sliderSelected
{
	background: red;
}

.errortext
{
	color: #ff3333;
}