body {
	background: #666666;
}

#center {
	background: white;
	position: absolute;
	left: 15%;
	top: 0;
	width: 70%;
	height: 105%;
	border-left: 2px solid black;
	border-right: 2px solid black;
	/*position:absolute;
    top:0;
    bottom:0;
    left:20%;
    right:0;
	width: 60%;
    overflow:hidden;
    z-index:-1; */
}

#login 
{
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 15%;
	height: 105%;
	
}

#loginform
{
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}

#loginform ul
{
	display: inline-block;
	border: 1px solid black;
	list-style: none;
	margin: 0;
	padding: 8px;
}

#loginform li
{
	padding-top: 3px;
}

#header 
{
	text-align: center;
}
	
#slider 
{
	border: 2px solid black;
	position: relative;
	left: 20%;
	width: 60%;
	height: 400px;
	overflow: hidden;
}

#slider img 
{
	position: absolute;
	width: 100%;
	height: 100%;
	right: -100%;
	display: inline;
}
	
.sliderbtns
{
	height: 20px;
	width: 20px;
	border-radius: 15px;
	background: #ffccff;
	display: inline-block;
	
	position: absolute;
}	

.sliderbtns:hover
{
	cursor: pointer;
}

.sliderSelected
{
	background: red;
}

.hidden
{
	display: none;
}
