#oglas
{
	
}

#slika
{
	display: inline-block;
	margin-top: 15px;
	width: 60%;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	overflow: hidden;
	float: left;
}

#slika img
{
	margin-bottom: -5px;
	width: 100%;
	height: auto;
}

#tblinfo
{
	display: inline-block;
	width: 39%;
	margin-top: 15px;
	/*box-sizing: border-box;*/
}

#tblinfo table
{
	/*display: inline-block;*/
	margin-left: 1%;
	width: 100%;
	overflow: hidden;
	background: #ccff99;
	
	border-collapse: collapse;
}

#tblinfo td:nth-child(odd)
{
	border: 1px solid black;
	width: 30%;
}

#tblinfo td:nth-child(even)
{
	border: 1px solid black;
	width: 70%;
}

#opis
{
	display: block;
	/*margin-top: 24%;*/
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	border: 1px solid black;
	overflow: hidden;
	clear: left;
	
	background: #ffffcc;
}

h2
{
	text-align: center;
	margin: 0;
}

#opisp
{
	text-align:center;
}

hr
{
	clear: left;
}

#komentari
{
	width: 60%;
	display: inline-block;
	overflow: hidden;
	position:relative;
	top: -10px;
	
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

#komentari ul
{
	list-style: none;
	margin: 2%;
	padding: 0;
	width: 95%;
	overflow: hidden;
	
	/*border: 1px solid red;*/
}

#komentari li
{
	border: 1px solid #cca300;
	display: inline-block;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	width: 95%;
	overflow: hidden;
	background: #ffff99;
	
	/*border: 1px solid lime;*/
}

.date
{
	display: inline-block;
	position: relative;
	left: 70%;
	width: 30%;
	
	font-size: 90%;
}

#change
{
	margin-left: 10%;
	width: 20%;
	height: 30px;
	font-size: 120%;
}

#delete
{
	font-size: 130%;
	background: red;
	border: 2px solid black;
	margin-left: 10%;
	margin-top: 1%;
	width: 20%;
	height: 30px;
}

.hiddenp
{
	display: none;
}