* {
	/*margin: 0;
	padding: 0;*/
	font-family: Arial, Helvetica, Serif;
}

body 
{
	background: #666666;
	background-image: url("../images/background1.jpg");
	/*background-size: cover;*/
	/*margin: 0;
	width: 100%;*/
}

#center {
	background: #e6e6e6;
	position: absolute;
	left: 20%;
	top: 0;
	width: 60%;
	min-height: 105%;
	border-left: 3px solid black;
	border-right: 3px solid black;
    overflow: hidden;
}

#navbar 
{
	top: 0;
	background: #595959;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 4%;
	border-bottom: 3px solid black;
	
	overflow: hidden;
}

#navbar li
{
	height: 100%;
	float: left;
	/*padding-left: 10px;
	padding-right: 10px;*/
	padding-top: 6px;
	/*width: 10%;*/
    min-width: 125px;
	box-sizing: border-box;
	
	/*border: 1px solid red;*/
}

#navbar a
{
	display: block;
	font-size: 130%;
	color: #d9d9d9;
	text-decoration: none;
	text-align: center;
	margin: 0;
	/*border: 1px solid yellow;*/
}	

#welcomemsg
{
	display: block;
	font-size: 130%;
	color: #d9d9d9;
	text-decoration: none;
	text-align: center;
	margin: 0;
	position: relative;
    
	color: yellow;
}

#logoutbtn
{
	padding: 0;
	color: black;
	font-size: 120%;
	width: 100px;
	height: 25px;
    
    position: absolute;
    top: 3px;
	right: 10px;
}

#navbar a:hover
{
	color: white;
}	

#navbar li.selected
{
	background: #1a1a1a;
	color: white;
}

.hidden, .hiddenp
{
	display: none !important;
}

.permError
{
	text-align: center;
	font-size: 300%;
	background: red;
	color: black;
	width: 70%;
	position:relative;
	border: 3px solid black;
	left: 20%;
}

.succes
{
	text-align: center;
	font-size: 300%;
	color: black;
	width: 60%;
	position:relative;
	border: 2px solid yellow;
	left: 20%;
	background: lime;
}

.btn
{
	cursor: pointer;
}