* {
	/*margin: 0;
	padding: 0;*/
	font-family: Arial, Helvetica, Serif;
}

#navbar 
{
	top: 0;
	background: #4d4d4d;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 4%;
	border-bottom: 3px solid black;
	
	overflow: hidden;
}

#navbar li
{
	height: 100%;
	float: left;
	/*padding-left: 10px;
	padding-right: 10px;*/
	padding-top: 6px;
	width: 15%;
	box-sizing: border-box;
	
	/*border: 1px solid red;*/
}

#navbar a
{

	display: block;
	font-size: 130%;
	color: #d9d9d9;
	text-decoration: none;
	text-align: center;
	margin: 0;
	/*border: 1px solid yellow;*/
}	

#welcomemsg
{
	display: block;
	font-size: 130%;
	color: #d9d9d9;
	text-decoration: none;
	text-align: center;
	margin: 0;
	
	position: absolute;
	right: 20%;
	color: yellow;
}

#navbar a:hover
{
	color: white;
}	

#navbar li.selected
{
	background: black;
	color: white;
}

#logoutbtn
{
	position: absolute;
	right: 5px;
	color: black;
	font-size: 120%;
	margin-left: 10px;
	width: 15%;
	height: 30px;
}

.hidden
{
	display: none !important;
}

/*#navbar ul
{
	list-style: none;
	display: inline-block;
	height: 100%;
}

#navbar li
{
	margin-top: 2px;
	width: 100%;
	min-height: 100%;
	/*height: 100%;
	margin-top: 5px;
	padding-left: 10px;
	display: inline;
}*/