* {
	/*margin: 0;
	padding: 0;*/
	font-family: Arial, Helvetica, Serif;
}

body 
{
	background: #666666;
	background-image: url("../images/background1.jpg");
	/*background-size: cover;*/
	/*margin: 0;
	width: 100%;*/
}

#center {
	background: #e6e6e6;
	position: absolute;
	left: 20%;
	top: 0;
	width: 60%;
	min-height: 105%;
	border-left: 3px solid black;
	border-right: 3px solid black;
    overflow: hidden;
}

#navbar 
{
	top: 0;
	background: #595959;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 4%;
	border-bottom: 3px solid black;
	
	overflow: hidden;
}

#navbar li
{
	height: 100%;
	float: left;
	/*padding-left: 10px;
	padding-right: 10px;*/
	padding: 6px;
	width: 12%;
	text-align: center;

	box-sizing: border-box;
	/*border: 1px solid red;*/
}

#navbar a
{
	width: 100%;
	font-size: 130%;
	color: #d9d9d9;
	text-decoration: none;
	text-align: center;
	margin: 0;
	/*border: 1px solid yellow;*/
}	

#welcomemsg
{
	font-size: 130%;
	text-align: right !important;
	margin: 0;
	width: 36% !important;
	color: #00BCD4;
}

#welcomemsg p
{
	display: inline;
}

#logoutbtn
{
	padding: 0;
	color: black;
	width: 100px;
	height: 24px;
    width: 100%;
    font-size: 110%;
    margin-top: 0;
    /*position: absolute;
    top: 3px;
	right: 10px;*/
}

#navbar a:hover
{
	color: white;
}	

#navbar li.selected
{
	background: #1a1a1a;
	color: white;
}

.hidden, .hiddenp
{
	display: none !important;
}

.permError
{
	display: block;
	text-align: center;
	font-size: 300%;
	background: red;
	color: black;
	width: 80%;
	position:relative;
	border: 3px solid black;
	margin-top: 1%;
	margin-left: 10%;
}

.succes
{
	display: block;
	text-align: center;
	font-size: 300%;
	color: black;
	width: 80%;
	position:relative;
	border: 3px solid yellow;
	margin-top: 1%;
	margin-left: 10%;
	background: lime;
}

.btn
{
	cursor: pointer;
}

.container
{
	margin-top: 2%;
	display: inline-block;
    position: relative;
	width: 50%;
	margin-left: 25%;
}

.dummy
{
	margin-top: 100%;
}

.loader 
{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#redirection_timer
{
	text-align: center;
	font-size: 300%;
	
	position: absolute;
	width: 86%;
	bottom: 38%;
	margin-left: 7%;
}

