h1
{
	text-align: center;
}

img
{
	margin-bottom: -5px;
	width: 100%;
	height: auto;
	
	/*box-sizing: border-box;*/
}

#oglasi table
{
	border-collapse: collapse;
	position: relative;
	display: inline-block;
	width: 80%;
	left: 10%;
	padding-bottom: 20px;
}

td
{
	padding: 0;
	border: 1px solid black;
	max-height: 98%;
	overflow: hidden;
	text-align: center;
}

td.rightcol
{
	width: 25%;
}

.link
{
	background: yellow;
	font-size: 130%;
	margin-bottom: 5px;
}

.opis
{
	overflow: hidden;
}

#pagecount
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#pagecount ul
{
	list-style: none;
	padding: 0;
}

#pagecount li
{
	display: inline-block;
	border: 3px solid lime;
	background: yellow;
	font-size: 150%;
	padding: 5px;
	width: 3%;
	position:relative; 
}

#pagecount a
{
	text-decoration: none;
	text-align: center;
}

#pagecount a:hover
{
	cursor: pointer;
}

#rightpanel
{
	position: absolute;
	left: 80%;
	top: 0;
	width: 20%;
	height: 105%;
}

#rightpanel div
{
	background: #ffffcc;
	padding: 5px;
	display: inline-block;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 11%;
	overflow: hidden;
}

#search
{
	padding-bottom: 5px;
	padding-top: 5px;
	text-decoration: none;
	font-size: 130%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3
{
	margin: 0;
	margin-top: 5px;
	margin-bottom: 2px;
}

#filters
{
	font-size: 120%;
}

#filters
{
	width: 65%;
}

#sortbtn
{
	position: relative;
	top: -2px;
	padding: 0;
	width: 30%;
	height: 25px;
}

.arrow
{
	width: 30px;
	
}

.arrow:hover
{
	cursor: pointer;
}

.hiddenp
{
	display: none;
}
