h1
{
	text-align: center;
}

form
{
	position: relative;
	display: inline-block;
	width: 50%;
	left: 25%;
}

#registertbl
{
	width: 100%;
	/*border: 1px solid black;*/
	/*margin-left: 25%;
	margin-right:25%;*/
	border-collapse: collapse;
}

td
{
	border: 1px solid black;
	padding: 4px;
}

td:nth-child(odd)
{
	width: 40%;
}

td:nth-child(even)
{
	max-width: 60%;
}

input, select
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

#submitbtn, #resetbtn
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

.errortbl
{
	width: 20%;
}

.errortd
{
	width: 100%;
}

.errormsg
{
	background: #ff3333;
}

.okmsg
{
	background: lime;
}

.infomsg
{
	background: yellow;
}

p
{
	display: inline;
	position: absolute;
	right: 0;
	width: 24%;
	border: 1px solid black;
	margin: 0;
}

.hidden
{
	display: none;
	width: 40%;
}
