#tblinfo
{
	display: block;
	width: 50%;
	margin-top: 1%;
	margin-left: 25%;
}

#tblinfo table
{
	/*display: inline-block;*/
	margin-left: 1%;
	width: 100%;
	overflow: hidden;
	background: #ccff99;
	
	border-collapse: collapse;
}

#tblinfo td:nth-child(odd)
{
	border: 1px solid black;
	width: 30%;
}

#tblinfo td:nth-child(even)
{
	border: 1px solid black;
	width: 70%;
}

#opis
{
	display: block;
	/*margin-top: 24%;*/
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	border: 1px solid black;
	overflow: hidden;
	clear: left;
	
	background: #ffffcc;
}

h2
{
	text-align: center;
	margin: 0;
}

#opisp
{
	
	width: 100%;
}

hr
{
	clear: left;
}

#komentari
{
	width: 60%;
	display: inline-block;
	overflow: hidden;
	position:relative;
	top: -10px;
	
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

#komentari ul
{
	list-style: none;
	margin: 2%;
	padding: 0;
	width: 95%;
	overflow: hidden;
	
	/*border: 1px solid red;*/
}

#komentari li
{
	border: 1px solid #cca300;
	display: inline-block;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	width: 95%;
	overflow: hidden;
	background: #ffff99;
	
	/*border: 1px solid lime;*/
}

.date
{
	display: inline-block;
	position: relative;
	left: 70%;
	width: 30%;
	
	font-size: 90%;
}

.hiddenp
{
	display: none;
}

#submit
{
	background: yellow;
	border: 2px solid lime;
	position:relative;
	left: 40%;
	font-size: 150%;
	width: 20%;
	height: 40px;
}